html {
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    padding: 0%;
    margin: 0%;
}
a {
    text-decoration: none;
    color: white;
}

/* clases generales */
.borderRadius {
    border-radius: 10px;
}
.parrafo {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.122727px;
    color: #9E9AA8;
}
.enlaceAshort {
    border: none;
    outline: none;
    background-color: #2BD0D0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    border-radius: 25px;
    padding: 10px 50px;
    width: 250px;
    margin: 30px 0px;
}
/*----------------------------HEADER------------------------------------------*/
header {
    position: relative;
    padding: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.menuMobile {
    position: fixed;
    top: 80px;
    left: 100%;
    width: 80%;
    margin: auto;
    background-color: #3A3054;
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}
.active {
    left: 10%;
}
.linkMenuMobile {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px;
}
.divLogin {
    border-top: thin solid rgba(190, 190, 190, 0.479);
}
.entrar {
    background: #2BD0D0;
    border-radius: 28px;
    width: 200px;
    padding: 5px;
}
/*---------------------------- MAIN ------------------------------------------*/
main {
    text-align: center;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
}
main > section {
    padding: 20px;
}
.imagenPrincipal {
    margin-left: 15%;
    width: 100%;
}
h1 {
    color:#34313D;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1.05px;
}
.botonGet {
    border: none;
    outline: none;
    background-color: #2BD0D0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    border-radius: 25px;
    padding: 10px;
    width: 180px;
    margin: 30px 0px;
}
/*----------- segundoSection ------------------*/
.segundoSection {
    margin-top: 50px;
    background-color: #3A3054;
    background-image: url("/images/bg-boost-mobile.svg");
    background-position: 200% 0%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 50px 20px 0px 20px;
    width: -webkit-fill-available;

}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.input {
    width: 100%;
    border-radius: 5px;
    height: 45px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}

.input::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.12px;
    color: #34313D;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.inputInvalido {
    border: 2px solid #F46363;
    color: #F46363;
}

.mensajeError {
    display: block;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.0818182px;
    color: #F46363;
    text-align: left;
    position: absolute;
    top: 41px;
    left: 0px;
}
.desactivar {
    display: none;
}
.botonDelForm{
    border: none;
    outline: none;
    background-color: #2BD0D0;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 20px ;
}
/*------ tercer section------------*/
.tercerSection {
    background-color:#F2F2F2;
    width: 100%;
    padding: 0px 20px;
}
.divAgregado {
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}
.enlaceOriginal {
    font-weight: 500;
    font-size: 50%;
    line-height: 36px;
    letter-spacing: 0.12px;
    color: #34313D;
    padding: 0px 20px;
}
.divAdentroGenerado {
    text-align: left;
    border-top: 1px solid rgba(190, 190, 190, 0.479);
    width: 100%;
    padding: 20px;
}
.enlacecorto {
    color: #2BD0D0;
    padding: 0%;
    margin: 0%;
    font-size: 16px;
}
.botonParaCopiar {
    display: block;
    border: none;
    outline: none;
    background-color: #2BD0D0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    border-radius: 5px;
    width: 100%;
    margin: 0% auto;
    margin-top: 20px;
}
/* ---------------- SECCION BORRAR ----------------*/
.sectionBorrar {
    display: none;
    background-color: #F2F2F2;
    padding: 0px 80px;
}
/*------ cuarta section------------*/
.cuartoSection {
    background-color:#F2F2F2 ;
}
.divh2Scuarto {
    padding: 10px 15px;
}
.h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.7px;
    color: #34313D;
}
.divTresDiv {
    position: relative;
}
.divDelcuarto{ 
    position: relative;
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 80px 0px;
    z-index: 1;
}
.borderDiv {
    position: absolute;
    width: 8px;
    height: 90%;
    left: 49.5%;
    top: 10px;
    background-color: #2BD0D0;
    z-index: 0;
}
.h3 {
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #34313D;
}
.divImagenScuarto {
    background-color: #3A3054;
    border-radius: 50%;
    width: 80px;
    margin: -50px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagenScuarto {
    padding: 20px;
}
/*------ quinto section------------*/
.quintoSection {
    width: 100%;
    height: 300px;
    background-color: #3A3054;
    background-image: url("/images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-position: 100% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h2Squinto {
    color: white;
}



/* -------------------   FOOTER ---------------------------- */

footer {
    background-color: #232127;
    padding: 50px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logofooter {
    filter: invert(1);
}
.h4footer {
    font-size: 16px;
}
.enlaceFooter {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.234375px;
    color: #BFBFBF;
}
.divDeIconos {
    display: flex;
    margin-top: 40px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.attribution { 
    margin-top: 30px;
    font-size: 11px; 
    text-align: center;
    color: white; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media all and (min-width:1000px) {
    /*-----------------------HEADER-----------------------------*/
    header {
        padding: 40px 80px;
    }
    .nav {
        display: grid;
        grid-template-columns: 15% 85%;
        align-items: center;
    }
    .iconoMobile, .divMobile {
        display: none;
    }
    .menuMobile {
        position: relative;
        top: 0%;
        left: 0%;
        background-color: transparent;
        width: auto;
        margin: 0%;
        justify-content: space-between;
        flex-direction: row;
        
    }
    .linkMenuMobile {
        display: inline;
        color:#9E9AA8;
        margin: 0px 20px;
        font-size: 14px;
    }
    .linkMenuMobile:hover {
        color: #34313D;
        transition: color 500ms ease-in-out;
    }
    .entrar {
        color: white;
        padding:10px 20px;
    }
    .entrar:hover, .enlaceAshort:hover {
        background-color: #2bd0d09d;
        transition: background-color 500ms ease;
        color: rgba(255, 255, 255, 0.875);
    }
    .divLogin {
        border: none;
    }
    /*CAMBIAR EL MAIN AHORA*/
    main > section {
        padding: 0px 80px;
    }
    .primerSection {
        display: flex;
        flex-direction: row-reverse;
    }
    .divSprimer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .parrafo {
        text-align: left;
    }
    .imagenPrincipal {
        width: 120%;
    }
    /*-------------------SEGUNDO SECTION---------------*/
    .segundoSection {
        margin: 0px 80px;
        margin-top: 20px;
        z-index: 5;
        height: 100px;
    }
    form  {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .input {
        width: 70%;
        margin-right: 40px;
        margin-bottom: 0%;
    }
    .botonDelForm {
        margin: 0%;
        padding: 8px;
        width: 250px;
        cursor: pointer;
    }
    .mensajeError {
        top: 41px;
        left: 0px;
    }
    /*-------------------tercer SECTION---------------*/
    .tercerSection {
        padding: 0px 80px;
    }
    .divAgregado {
        margin: 40px 0px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    .divAdentroGenerado {
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
    }
    .botonParaCopiar {
        margin: 0%;
        width: 100px;
    }
    .enlaceOriginal {
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.12px;
        line-height: 15px;
        padding: 0px 20px;
        width: 100%;
        text-align: left;
    }
    .enlacecorto {
        width: 200px;
        font-size: 16px;
    }
   
     /*-------------------cuarta SECTION---------------*/
    .divh2Scuarto {
        width: 450px;
        margin: 0% auto;
    }
    .centrar {
        text-align: center;
    }
    .divTresDiv {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom:100px ;
        position: relative;
    }
    .divDelcuarto {
        height: auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .h3 {
        text-align: left;
    }
    .div2 {
        transform: translateY(50px);
    } 
    .div3 {
        transform: translateY(100px);
    } 
    .divImagenScuarto{
        margin: -50px -80px 0px 0px;
    }
    .borderDiv {
        position: absolute;
        width: 60%;
        height: 8px;
        left: 250px;
        top: 200px;
        background-color: #2BD0D0;
        z-index: 0;
    }

    .h2Squinto {
        font-size: 45px;
    }
    /* ------ FOOTER ---------*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: flex-start;
    }
    .sectionFotter {
        display: flex;
        flex-direction: row;
        gap: 70px;
    }
    .h4footer {
        margin-top: 0%;
        font-size: 16px;
        text-align: left;
    }
    .enlaceFooter {
        display: block;
        text-align: left;
        margin-top: 10px;
    }
    .enlaceFooter:hover {
        color: #2BD0D0;
        transition: color 400ms ease-in;
    }
    .divDeIconos {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        margin: 0%;
    }
    .iconos {
        height: 25px;
        width: 25px;  
    }
    .iconos:hover {
        filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);  
        transition: filter 200ms ease-in-out;   
    }
    .facebook {
        background-image: url("../images/icon-facebook.svg");
    }
    .twitter {
        background-image: url("../images/icon-twitter.svg");
    }
    .instagram {
        background-image: url("../images/icon-instagram.svg");
    }
    .pinterest {
        background-image: url("../images/icon-pinterest.svg");
    }
    .facebook, .twitter, .instagram, .pinterest {
        background-repeat: no-repeat;
    }
}